:root {
    --actionable-item: rgba(34, 78, 134, 1);
    --body-h4-font-family: "Outfit-Medium", Helvetica;
    --body-h4-font-size: 24px;
    --body-h4-font-style: normal;
    --body-h4-font-weight: 500;
    --body-h4-letter-spacing: -0.36px;
    --body-h4-line-height: 36px;
    --body-p-font-family: "Montserrat-Regular", Helvetica;
    --body-p-font-size: 18px;
    --body-p-font-style: normal;
    --body-p-font-weight: 400;
    --body-p-large-font-family: "Outfit-Medium", Helvetica;
    --body-p-large-font-size: 36px;
    --body-p-large-font-style: normal;
    --body-p-large-font-weight: 500;
    --body-p-large-letter-spacing: -0.54px;
    --body-p-large-line-height: 50px;
    --body-p-letter-spacing: -0.27px;
    --body-p-line-height: 30px;
    --body-p-small-font-family: "Montserrat-Regular", Helvetica;
    --body-p-small-font-size: 14px;
    --body-p-small-font-style: normal;
    --body-p-small-font-weight: 400;
    --body-p-small-letter-spacing: -0.21px;
    --body-p-small-line-height: 22px;
    --body-text-CTA-btn-font-family: "Montserrat-Bold", Helvetica;
    --body-text-CTA-btn-font-size: 18px;
    --body-text-CTA-btn-font-style: normal;
    --body-text-CTA-btn-font-weight: 700;
    --body-text-CTA-btn-letter-spacing: -0.27px;
    --body-text-CTA-btn-line-height: 30px;
    --hero-h1-font-family: "Outfit-SemiBold", Helvetica;
    --hero-h1-font-size: 56px;
    --hero-h1-font-style: normal;
    --hero-h1-font-weight: 600;
    --hero-h1-letter-spacing: -0.84px;
    --hero-h1-line-height: 80px;
    --sub-page-h1-font-family: "Outfit-Medium", Helvetica;
    --sub-page-h1-font-size: 64px;
    --sub-page-h1-font-style: normal;
    --sub-page-h1-font-weight: 500;
    --sub-page-h1-letter-spacing: -0.96px;
    --sub-page-h1-line-height: 72px;
}
